@tailwind base;
@tailwind components;
@tailwind utilities;

.inputfile + label {
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  background-color: green;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

@font-face {
  font-family: "Poppins";
  src: url("/public/font/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/font/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/font/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/font/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

.p-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.p-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.p-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.p-bold {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.login {
  background-image: url(img/login-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  background-image: url(img/login-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  background-image: url(img/login-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .logo {
  padding: 250px 100px;
}

/* Text Color */
.t_putih {
  color: white;
}

.t-abu {
  color: #949494;
}

.t-biru {
  color: #0339a6;
}

.t_kuning {
  color: #fdbe0f;
}

.t_hitam {
  color: black;
}

.t-hijau {
  color: #4e7031 !important;
}
/* Text Color */

.bg1 {
  background-image: url("../images/bg_home.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: -64px;
}

.bg-profile {
  background-image: url("../images/bg_home.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: -64px;
}

.bg3 {
  background-image: url("../images/bg_3.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* Padding */
.pt-220 {
  padding-top: 220px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pl-200 {
  padding-left: 200px;
}
/* Padding */

/* Margin */
.ml-100 {
  margin-left: 100px !important;
}

.ml-200 {
  margin-left: 200px !important;
}

.ml-23 {
  margin-left: 23px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-70 {
  margin-top: 60px !important;
}

.mt-95 {
  margin-top: 95px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mt--100 {
  margin-top: -100px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}
/* Margin */

/* Font Size */
.fs-60 {
  font-size: 60px;
}

.fs-50 {
  font-size: 40px;
}

.fs-30 {
  font-size: 30px;
}

.fs-20 {
  font-size: 20px;
}

.fs-17 {
  font-size: 17px;
}

.fs-15 {
  font-size: 15px;
}

.fs-12 {
  font-size: 12px;
}
/* Font Size */

/* Font Weight */
.fw-bold {
  font-weight: bold;
}
/* Font Weight */

/* Button */
.btn-hijau {
  background-color: #16652a;
  padding: 13px;
  border-radius: 5px;
  width: 150px;
  color: white;
  font-weight: bold;
}

.btn-abu {
  background-color: #aaaaaa;
  padding: 13px 20px;
  border-radius: 5px;
  width: 150px;
  color: black;
  margin-left: 20px;
  font-weight: bold;
}

.btn-keranjang {
  background-color: #f5f5f5;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #16652a;
}

.btn-keranjang-hijau {
  background-color: #16652a;
  padding: 5px 20px;
  margin-left: -30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
}

.btn-keranjang:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #16652a;
}

.btn-keranjang-hijau:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #f5f5f5;
}

.btn-hijau-news-artikel {
  background-color: #16652a;
  padding: 13px;
  border-radius: 5px;
  width: 180px;
  color: white;
}

.btn-hijau-teknik {
  background-color: #16652a;
  padding: 13px;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
}

.btn-hijau-muda {
  background-color: #a0c546;
  color: white;
  padding: 11px 25px;
  border-radius: 5px;
}

.btn-putih-teknik {
  background-color: #ffffff;
  padding: 13px;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
}
/* Button */

.custom-hr {
  border: 2px solid #f7c35f;
  width: 20%; /* Set the width of the <hr> */
  margin: 0 auto; /* Center the <hr> using auto margin */
  margin-top: -10px;
  border-radius: 5px;
}

.custom-hr-kiri {
  border: 2px solid #f7c35f;
  width: 26%; /* Set the width of the <hr> */
  margin-top: -10px;
  border-radius: 5px;
}

.bg-hijau {
  background-color: #4e7031 !important;
}

.bg-hijau:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  animation-delay: 2ms;
}

.card-body:hover .logo {
  transform: rotate(360deg); /* Rotasi sebanyak 360 derajat saat dihover */
  transition: transform 1.5s; /* Durasi animasi 0.5 detik */
}

.bg-hijaumuda {
  background-color: #a0c546 !important;
}

.bg-hijaumuda:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-carousel {
  background-color: #f6f9f3;
  padding: 40px;
  width: 100%;
  border-radius: 5px;

  display: flex;
  justify-content: center;
}

.card-carousel:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.carousel-inner {
  width: 100px;
}

/* Atur warna indikator slide menjadi merah */
#myCarousel .carousel-indicators li {
  border: 1px solid #4e7031;
}

/* Atur warna indikator slide aktif (active) menjadi hijau */
#myCarousel .carousel-indicators .active {
  background-color: #4e7031;
}

.card {
  max-height: 450px;
  margin-bottom: 20px;
}

.card-topic {
  border: 1px solid #bdbebf;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  font-size: 10px;
}

.card-topic:hover {
  background-color: #bdbebf;
}

.card-body {
  padding: 5% !important;
  padding-bottom: 10% !important;
}

.card-title {
  min-height: 50px;
}

.img-artikel {
  min-width: 100%;
  min-height: 150px;
  max-height: 150px;
  object-fit: cover;
}

.komen {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdbebf;
  border-radius: 5px;
}

.komen-isi-berita {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdbebf;
  border-radius: 5px;
}

.input-komen {
  width: 100%;
  height: 308px !important;
  border: 1px solid #bdbebf;
  padding: 10px;
  border-radius: 5px;
}

.bg-footer {
  background-image: url(../images/bg-footer.png);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

.trm {
  width: 90%;
}

.maps {
  border-radius: 5px;
}

.card-artikel:hover {
  scale: 1px;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
  transition: background-color 0.3s;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.nav-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer; /* Menambahkan cursor pointer agar tampilan mouse berubah saat di atasnya */
  position: relative;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: yellow;
  border-radius: 5px;
  bottom: 0;
  left: 0;
}

body {
  overflow-x: hidden;
}

.bg-berita {
  background-image: url(../images/bg-berita.png);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.carousel-caption {
  background-color: rgba(147, 144, 144, 0.552);
  border-radius: 5px;
  text-align: justify !important;
  padding: 20px;
  width: 1000px;
  margin-bottom: -20px;
  padding-bottom: 50px !important;
  margin-left: -150px;
}

.komen-isi-artikel {
  height: 100px !important;
}

.bg-berita {
  background-image: url(../images/bg-tentang.png);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.visi {
  width: 80%;
  background-color: #a1c54675;
  padding: 50px;
  border-radius: 5px;
  line-height: 1.8;
  margin: 0 auto;
}

.listmisi {
  list-style: decimal;
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  margin-left: 400px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: -120px;
}

.overlay1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: -100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 180px;
  z-index: 1;
}

.card-cara {
  width: 500px;
  background-color: #f6f9f3;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top: -40px;
}

.card-cara1 {
  width: 500px;
  background-color: #4e7031;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-top: -40px;
}

.no-teknik {
  background-color: #4e7031;
  width: 50px;
  border-radius: 5px;
  height: 50px;
  z-index: 1;
  margin-left: -500px;
}

.no-teknik1 {
  background-color: #ffffff;
  width: 50px;
  border-radius: 5px;
  height: 50px;
  z-index: 1;
  margin-left: -500px;
}

.tim:hover {
  transform: scale(1.1);
}

.ceritakami {
  background-color: #a1c5461f;
  padding: 40px;
  width: 80%;
  padding: 50px;
  border-radius: 5px;
  line-height: 1.8;
  margin: 0 auto;
}

.bg-gofarm {
  background-image: url(../images/bg-gofarm.png);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 200px;
}

.bg-gomart {
  background-image: url(../images/bg-gomart.png);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-hijau-muda {
  background-color: #a0c546;
  padding-top: 20px;
  padding-bottom: 20px;
}

.filter {
  margin-left: 30px;
  margin-top: 15px;
}

.b-filter {
  border-right: 3px solid white;
  border-radius: 2px;
}

.logo-filter {
  width: 30%;
}

.tengah {
  margin-top: 17px;
}

.bg-hijau-muda-toko {
  background-color: #a0c546;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.toko-terdekat {
  width: 60% !important;
}

.cari-barang {
  padding: 10px 20px;
  border: 1px solid #949494;
  border-radius: 5px;
  width: 60%;
}

.card-produk {
  width: 80% !important;
  display: flex;
  align-items: center;
}

.cart-produk {
  background-color: #a0c546;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 60px;
}

.card-body-produk {
  padding: 30px;
  width: 97%;
}

.img-produk {
  max-width: 60%;
  max-height: 250px;
  object-fit: cover;
}

.foto-produk {
  max-width: 70%;
  min-width: 70%;
  max-height: 450px;
  min-height: 450px;
  object-fit: cover;
}

.foto-produk-keranjang {
  max-width: 20%;
  min-width: 20%;
  max-height: 120px;
  min-height: 120px;
  object-fit: contain;
}

.table-keranjang {
  width: 80%; /* Atur lebar tabel sesuai kebutuhan */
  margin: auto; /* Pusatkan tabel di dalam div */
}

.table-keranjang th,
td {
  text-align: center; /* Pusatkan teks pada sel tabel */
  padding: 8px; /* Sesuaikan padding sesuai kebutuhan */
}
.nama-produk-keranjang {
  bottom: 0 auto;
}

.keranjang {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.head-co {
  background-color: #a0c546;
  padding: 10px;
  color: white;
}

.body-co {
  border: 1px solid #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
}

.nama-user {
  float: right;
  margin-left: 15px;
  margin-top: 2px;
  color: black;
}

.sidebar-body {
  background-color: #16652a;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  border-radius: 0px 100px 100px 0px;
  margin-top: 50px !important;
  margin-left: -25px !important;
}

.logo-sidebar {
  width: 30px;
  margin-right: 20px;
}

.isi-admin {
  max-height: 90vh; /* Set to the maximum height you prefer, adjusting as needed */
  overflow-y: auto;
  padding-bottom: 50px;
}

.nav-sidebar {
  padding: 20px;
  color: white !important;
  cursor: pointer;
}

.nav-sidebar:hover {
  fill: #16652a !important;
  padding: 20px;
  background-color: white;
  color: #16652a !important;
  border-radius: 5px;
}

.bb-kuning {
  border-bottom: 3px solid #fdbe0f !important;
}

.menu-dashboard {
  border: none !important;
  background-color: #16652a !important;
}

.menu-dashboard li a {
  color: white !important;
  width: 210px;
  border-radius: 5px;
  padding: 20px 10px;
}

.menu-dashboard li a:hover {
  color: #116530 !important;
}

.profile-penyuluh {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 100%;
}

.border-dashboard {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 20px;
  width: 45% !important;
}

.selesai {
  color: #16652a !important;
}

.proses {
  color: #ec0000 !important;
}

.approved {
  list-style: inside;
  color: #fdbe0f;
}

.submitted {
  list-style: inside;
  color: #116530;
  margin-left: 30px;
}

.icon-aksi {
  width: 50px;
}

.deskripsi {
  width: 40%;
}

.img-produk {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  max-height: 100px;
  object-fit: contain;
}

.nama-produk {
  width: 15%;
}

.input-produk {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
}

@media only screen and (min-width: 768px) {
  .chakra-stack {
    margin-left: 850px;
  }
}
/* Height */
/* .h-200{
  height: 200px;
} */
/* Height */
